services:
  mongo:
    image: mongo:latest
    container_name: recruiting-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./recruiting-api
    container_name: recruiting-api
    restart: always
    environment:
      MONGO_URI: mongodb://user:password@mongo:27017/recruitinggame?authSource=admin
      PORT: 5000
    ports:
      - "5000:5000"
    depends_on:
      - mongo

volumes:
  mongo_data: